/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "grids";
@import "variables";
@import "font-awesome-mixins";
@import "sassybuttons";
@import "breakpoint";

@font-face {
	font-family: 'FontAwesome';
	src: url("#{$font-path}/fontawesome-webfont.eot");
	src: url("#{$font-path}/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), 
	url("#{$font-path}/fontawesome-webfont.woff2") format("woff2"), 
	url("#{$font-path}/fontawesome-webfont.woff") format("woff"), 
	url("#{$font-path}/fontawesome-webfont.ttf") format("truetype"), 
	url("#{$font-path}/fontawesome-webfont.svg#fontawesomeregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

#mySection {
	.my-class {
		@include span (1 of 3); 
		padding:4px;
		border: 1px solid red;	
		span {
			@include fa-icon(heartbeat)
		}
	}
}